/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #00e68a
;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

/*table, th, td{
  border: 1px black solid;
  border-collapse: collapse;
  background-color: white;
}*/







button{
  margin-left: 100px
}

body {
  font-family: Kurale;
}

h2{
  margin-left: 1.66%;
}

img {
  height: 150px;
  width: 150px;
  text-align: left;
  float: left;
}


.productDetails {
  background-color: white;
  width: 45%;
  height: 45%;
  margin: 1.66%;
  float: left;
}

.productSection{
  text-align: center;
}

#checkOut {
  margin: 25%;
}